<footer class="muticolumn-footer-with-text section-{{ section.id }} pt-5 bg-{{ section.settings.background_color }} text-{{ section.settings.text_color }}{% if section.settings.show_top_border == true %} border-top-{{ section.settings.border_color }}{%endif%}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 p-3 p-lg-5">
            {% if section.settings.image != blank %}
                <a href="{{ section.settings.image_link }}"><img class="mb-4 img-fluid" src="{{ section.settings.image | image_url }}" alt="{{ section.settings.alt }}" style="width: {{ section.settings.logo_size }}px; height: auto" /></a>
            {% if section.settings.company_info != blank %}
            <div class="company-info px-4">{{ section.settings.company_info }}</div>
            {% endif %}
            {% if section.settings.icons_show == true %}
            <div class="social-icons text-center mt-5">
                {% if section.settings.instagram != blank %}
                <a target="_blank" href ="{{ block.instagram }}" aria-label="Visit our Instagram page" class="icon-jet-Instagram me-lg-2"></a>
                {% endif %}
                {% if section.settings.fb != blank %}
                <a target="_blank" href ="{{ section.settings.fb }}" aria-label="Visit our Facebook page" class="icon-jet-Facebook me-lg-2"></a>
                {% endif %}
                {% if section.settings.twitter != blank %}
                <a target="_blank" href ="{{ section.settings.twitter }}" aria-label="Visit our Twitter page" class="icon-jet-Twitter-2 me-lg-2"></a>
                {% endif %}
                {% if section.settings.pinterest != blank %}
                <a target="_blank"href ="{{ section.settings.pinterest }}" aria-label="Visit our Pinterest page" class="icon-jet-Pinterest me-lg-2"></a>
                {% endif %}
                {% if section.settings.tumblr != blank %}
                <a target="_blank" href ="{{ section.settings.tumblr }}" aria-label="Visit our Tumblr page" class="icon-jet-tumblr2 me-lg-2"></a>
                {% endif %}
                {% if section.settings.linkedin != blank %}
                <a target="_blank" href ="{{ section.settings.linkedin }}" aria-label="Visit our LinkedIn page" class="icon-jet-Linkedin me-lg-2"></a>
                {% endif %}
            </div>
            {% endif %}
            </div>
            <div class="col-12 col-lg-8 p-5">
                <div class="row px-4 px-lg-0 flex-lg-nowrap footer-blocks">
                {% for block in section['block_order'] %}
                <div class="col me-lg-4 pb-4 pb-lg-0 footer-block-col">
                    {% block %}
                </div>
                {% endfor %}
                </div>
                <div class="row my-4 description-text">
                {% if section.settings.description_text != blank %}
                    <div class="col-12">
                        {{ section.settings.description_text }}
                    </div>
                {% endif %}
                </div>
                <div class="row mt-5">
                    <div class="col">
                    <div class="copyright-text d-lg-inline-block me-lg-3 mb-5 mb-lg-0">
                        {% if section.settings.custom_copyright != blank %}
                        {{ section.settings.custom_copyright }}
                        {% else %}
                        &copy; {{ 'now' | date: "%Y" }} {{ site.name }}. All rights reserved.
                        {% endif %}
                    </div>
                    {% if section.settings.bottom_menu != blank %}
                        {% for item in menus[section.settings.bottom_menu].menu_items %}
                        <div class="d-lg-inline-block me-lg-2 bottom-menu py-1 py-lg-0"><a href="{{ item.link }}">{{ item.name }}</a></div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            </div>
            {% else %}
            <div class="col-12 col">
                {% for block in section['block_order'] %}
                <div class="col-12 col">
                    {% block %}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </div>
   
</footer>

{% schema %}
{
    "name": "Footer",
    "description": "Multicolumn footer with text";
    "max_blocks": 4,
    "settings": [
        {
            "type": "select",
            "id": "background_color",
            "label": "Background Color",
            "default": "background1",
            "options": [
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
            "type":"select",
            "id":"text_color",
            "label":"Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Logo Image"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo Size",
            "default": 100,
            "min": 30,
            "max": 200,
            "step": 10
        },
        {
            "type": "text",
            "id": "image_link",
            "label": "Logo Link"
        },
        {
            "type": "richtext",
            "id": "company_info",
            "label": "Company Information"
        },
        {
            "type": "checkbox",
            "id": "show_top_border",
            "label": "Show Top Border"
        },
        {
            "type": "select",
            "id": "border_color",
            "label": "Border Color",
            "options": [
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Background 2",
                    "value": "accent2"
                },
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "description_text",
            "label": "Description Text"
        },
        {
            "type": "richtext",
            "id": "custom_copyright",
            "label": "Custom Copyright Text"
        },
        {
            "type": "link_list",
            "id": "bottom_menu",
            "label": "Bottom Menu List"
        },
        {
            "type": "header",
            "content": "Social"
        },
        {
            "type": "checkbox",
            "id": "icons_show",
            "default": true,
            "label": "Show Social Icons"
        },
        {
            "type": "text",
            "id": "instagram",
            "label": "Instagram URL"
        },
        {
            "type": "text",
            "id": "fb",
            "label": "Facebook URL"
        },
        {
            "type": "text",
            "id": "twitter",
            "label": "Twitter URL"
        },
        {
            "type": "text",
            "id": "pinterest",
            "label": "Pinterest URL"
        },
        {
            "type": "text",
            "id": "tumblr",
            "label": "Tumblr URL"
        },
        {
            "type": "text",
            "id": "linkedin",
            "label": "LinkedIn URL"
        }
    ],
    "blocks": [
        {
            "type": "image-text-icons",
            "name": "image-text-icons"
        },
        {
            "type": "link_list",
            "name": "link_list"
        },
        {
            "type": "contact",
            "name": "contact"
        },
        {
            "type": "text",
            "name": "text"
        }
    ]
}
{% endschema %}