<div class="contact-block show-desktop">
    <h4 class="footer-header mb-3">{{ block.title }}</h4>
    <p class="footer-text mb-3">{{ block.address }}</p>
    <p class="footer-text mb-3"><a href="tel:{{ block.phone | remove: " " | remove: "(" | remove: ")" | remove: "-"  }}">{{ block.phone }}</a></p>
    <p class="footer-text mb-3"><a href="mailto:{{ block.email }}">{{ block.email }}</a></p>
</div>

<div class="contact-block show-mobile">
    
    <div class="accordion-item">
    <h4 class="accordion-header" id="flush-heading{{ block.title }}">
      <button class="accordion-button collapsed footer-header" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ block.title }}" aria-expanded="false" aria-controls="flush-collapse{{ block.title }}">
        {{ block.title }}
      </button>
    </h4>
    <div id="flush-collapse{{ block.title }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ block.title }}" data-bs-parent="#footerAccordion">
      <div class="accordion-body">
          <p class="footer-text mb-3">{{ block.address }}</p>
            <p class="footer-text mb-3"><a href="tel:{{ block.phone | remove: " " | remove: "(" | remove: ")" | remove: "-"  }}">{{ block.phone }}</a></p>
            <p class="footer-text mb-3"><a href="mailto:{{ block.email }}">{{ block.email }}</a></p>
      </div>
    </div>
  </div>

</div>

{% schema %}
{
    "settings": [

        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Contact"
        },
        {
            "type": "richtext",
            "id": "address",
            "label": "Address"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Phone"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Email"
        }
    ]
}
{% endschema %}