<div class="image-text-icons-block text-center text-lg-{{ block.alignment }}">
    {% if block.title != blank %}
    <h4 class="footer-header mt-3 mt-lg-0 mb-3 text-start text-lg-{{ block.alignment }}">{{ block.title }}</h4>
    {% endif %}
    {% if block.image != blank % and block.image_link != blank %}
    <a href="{{ block.image_link }}"><img class="mb-4" src="{{ block.image | image_url }}" alt="{{ block.alt }}" style="width: {{ block.logo_size }}px; height: auto" /></a>
    {% elsif block.image != blank and block.image_link == blank %}
    <img class="mb-4" src="{{ block.image | image_url }}" alt="{{ block.alt }}" style="width: {{ block.logo_size }}px; height: auto" />
    {% endif %}
    {% if block.text %}
    <div class="footer-subtext text-start text-lg-{{ block.alignment }}">
    {{ block.text }}
    </div>
    {% endif %}
    <div class="social-icons text-start text-lg-{{ block.alignment }}">
        {% if block.instagram != blank %}
        <a target="_blank" href ="{{ block.instagram }}" aria-label="Visit our Instagram page" class="icon-jet-Instagram me-lg-2"></a>
        {% endif %}
        {% if block.fb != blank %}
        <a target="_blank" href ="{{ block.fb }}" aria-label="Visit our Facebook page" class="icon-jet-Facebook me-lg-2"></a>
        {% endif %}
        {% if block.twitter != blank %}
        <a target="_blank" href ="{{ block.twitter }}" aria-label="Visit our Twitter page" class="icon-jet-Twitter-2 me-lg-2"></a>
        {% endif %}
        {% if block.pinterest != blank %}
        <a target="_blank"href ="{{ block.pinterest }}" aria-label="Visit our Pinterest page" class="icon-jet-Pinterest me-lg-2"></a>
        {% endif %}
        {% if block.tumblr != blank %}
        <a target="_blank" href ="{{ block.tumblr }}" aria-label="Visit our Tumblr page" class="icon-jet-tumblr2 me-lg-2"></a>
        {% endif %}
        {% if block.linkedin != blank %}
        <a target="_blank" href ="{{ block.linkedin }}" aria-label="Visit our LinkedIn page" class="icon-jet-Linkedin me-lg-2"></a>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "logo_size",
            "label": "Logo Size",
            "default": 100,
            "min": 30,
            "max": 200,
            "step": 10
        },
        {
            "type": "text",
            "id": "image_link",
            "label": "Image Link"
        },
        {
            "type": "text",
            "id": "alt",
            "label": "Image Alt Text"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "header",
            "content": "Social"
        },
        {
            "type": "text",
            "id": "instagram",
            "label": "Instagram URL"
        },
        {
            "type": "text",
            "id": "fb",
            "label": "Facebook URL"
        },
        {
            "type": "text",
            "id": "twitter",
            "label": "Twitter URL"
        },
        {
            "type": "text",
            "id": "pinterest",
            "label": "Pinterest URL"
        },
        {
            "type": "text",
            "id": "tumblr",
            "label": "Tumblr URL"
        },
        {
            "type": "text",
            "id": "linkedin",
            "label": "LinkedIn URL"
        }
    ]
}
{% endschema %}