<div class="linklist-block show-desktop">
    {% if block.title != blank %}
    <h4 class="footer-header mb-3">{{ block.title }}</h4>
    {% endif %}
        {% for item in menus[block.menu].menu_items %}
            <p class="footer-text mb-3"><a href="{{ item.link }}">{{ item.name }}</a></p>
        {% endfor %}
    </div>
    
    <div class="contactlinklist-block show-mobile">
    <div class="accordion-item">
        <h4 class="accordion-header" id="flush-heading{{ block.title | remove: " " }}">
          <button class="accordion-button collapsed footer-header" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ block.title | remove: " " }}" aria-expanded="false" aria-controls="flush-collapse{{ block.title | remove: " " }}">
            {{ block.title }}
          </button>
        </h4>
        <div id="flush-collapse{{ block.title | remove: " " }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ block.title | remove: " " }}" data-bs-parent="#footerAccordion">
          <div class="accordion-body text-start">
              {% for item in menus[block.menu].menu_items %}
                <p class="footer-text mb-3"><a href="{{ item.link }}">{{ item.name }}</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
     
    </div>
    
    {% schema %}
    {
        "name": "menu",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "link_list",
                "id": "menu",
                "label": "Menu"
            }
        ]
    }
    {% endschema %}