{% if block.title != blank %}
<h2 class="{{ block.heading_size }} text-center text-md-{{ block.alignment }} text-{{ block.text_color }}">{{ block.title }}</h2>
{% endif %}
{% if block.text != blank %}
<div class="my-3 text-center text-md-{{ block.alignment }} text-{{ block.text_color }}">{{ block.text }}</div>
{% endif %}

{% schema %}
{
    "name": "text",
    "settings": [
        {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {
                    "label": "H2",
                    "value": "h2"
                },
                {
                    "label": "H3",
                    "value": "h3"
                },
                {
                    "label": "H4",
                    "value": "h4"
                },
                {
                    "label": "H5",
                    "value": "h5"
                },
                {
                    "label": "H6",
                    "value": "h6"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}